body {
    background-color: beige;
}

.container {
    width: 1280px;
    height: auto;
    display: grid;
    grid-template-areas:
    "header header"
    "game nav"
    "result result"
    ;
    grid-template-columns: 2fr 0.5fr;
    gap: 5px 20px;
    font-family: 'Rock Salt', cursive;
}

#aside {
    border: 2px solid black;
    width: 320px;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 190px 0 0 0;
    background-color: lightgrey;
}

#select-piece {
    display: flex;
    flex-direction: column;
}

.score {
    width: auto;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#header > h1 {
    font-size: 40px;
    width: 500px;
    height: auto;
    margin: 15px 230px 30px 750px;
    border-bottom: 2px solid black;
}

#game-board {
    grid-area: game;
    width: 620px;
    margin: 30px 0 0 200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

p.default {
    display: none;
}

p.selected {
    display: flex;
    font-size: 100px;
    width: 80px;
    height: auto;

}

#user-choice {
    margin: 0 0 0 10px;
}

#score {
    display: none;
}

.box {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#r1c1 {
    border-right: solid black 2px;
    border-bottom: solid black 2px;
}

#r1c2 {
    border-left: solid black 2px;
    border-bottom: solid black 2px;
    border-right: solid black 2px;
}

#r1c3 {
    border-left: solid black 2px;
    border-bottom: solid black 2px;
}

#r2c1 {
    border-top: solid black 2px;
    border-right: solid black 2px;
    border-bottom: solid black 2px;
}

#r2c2 {
    border: solid black 2px;
}

#r2c3 {
    border-top: solid black 2px;
    border-left: solid black 2px;
    border-bottom: solid black 2px;
}

#r3c1 {
    border-top: solid black 2px;
    border-right: solid black 2px;
}

#r3c2 {
    border-left: solid black 2px;
    border-right: solid black 2px;
}

#r3c2 {
    border-top: solid black 2px;
    border-left: solid black 2px;
    border-right: solid black 2px;
}

#r3c3 {
    border-top: solid black 2px;
    border-left: solid black 2px;
}

.buttons {
    border-radius: 30px;
    background-color: lightgreen;
}

.buttons:hover {
    background-color: cornflowerblue;
    border-radius: 30px;
}

@media screen and (max-width: 400px) {
 .container {
     width: 350px;
     height: 20vw;
     transform: scale(0.3);
     position: absolute;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 #game-board {
     margin: 90px 0 50px 0;
 }

 .container > #header > h1 {
    font-size: 90px;
    width: 700px;
    height: auto;
    margin: 15px 0 30px 0;
}

#aside {
    transform: scale(2.5);
    margin-top: 250px;
}

#header {
    margin-left: 45px;
}

#begin {
    margin: 20px;
}

.buttons {
    margin: 30px;
}

}